.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.root{
  max-width: 1000px;
  margin: 0 auto;
}

.chat{
  border: 2px solid grey;
  max-width: 800px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid grey;
  padding: 10px;
}

.message{
  border: 1px solid grey;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

.message-user-avatar{
  height: 30px;
  border-radius: 50%;
  float: left;
}
.message_info{
  display: flex;
  justify-content: space-between;
}
.message-input{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.message-input-text{
  width: 70%;
}

.own-message{
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  margin-top: 10px;
}

.messages-divider{
  border: 1px solid black;
  padding: 10px 5px;
  width: 100px;
  margin: 10px auto;
  background-color: rgb(99, 65, 65);
}

button{
  margin-right: 5px;
}

.message-input{
  margin-top: 20px;
}